@import "tailwindcss";


/* Set default font for all text */
* {
  font-family: 'Outfit', sans-serif;
}

/* Custom font utility for Ovo */
.font-Ovo {
  font-family: 'Ovo', serif;
}

/* Custom color utilities */
.text-lightHover {
  color: #fcf4ff;
}

.text-darkHover {
  color: #2a004a;
}

.text-darkTheme {
  color: #11001F;
}

.hover\:.bg-darkHover:hover {
  background-color: #2a004a;
}

.bg-darkTheme {
  background-color: #11001F;
}

.bg-lightHover {
  background-color: #fcf4ff;
}

.hover\:bg-lightHover:hover {
  background-color: #fcf4ff;
}

.hover\:.shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}


